<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{include/usrHead :: usrHead}"></div>
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<div th:replace="~{include/usrHeader :: usrHeader}"></div>
		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="property-titlebar margin-bottom-0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
						<div class="property-title">
							<h2 th:text="${item.characterName}">캐릭터 이름</h2>
						</div>

					<!-- 이미지 -->
					<div>
						<img th:src="${item.characterUploadedPath}">

					</div>
						

							<!-- <div th:if="${item.characterSeq=='1'}">
								<img src="usr/assets/images/character/001.재키/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='2'}">
								<img src="usr/assets/images/character/002.아야/Skin_Full_002.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='3'}">
								<img src="usr/assets/images/character/003.현우/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='4'}">
								<img src="usr/assets/images/character/004.매그너스/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='5'}">
								<img src="usr/assets/images/character/005.피오라/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='6'}">
								<img src="usr/assets/images/character/006.나딘/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='7'}">
								<img src="usr/assets/images/character/007.자히르/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='8'}">
								<img src="usr/assets/images/character/008.하트/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='9'}">
								<img src="usr/assets/images/character/009.아이솔/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='10'}">
								<img src="usr/assets/images/character/010.리다이린/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='11'}">
								<img src="usr/assets/images/character/011.유키/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='12'}">
								<img src="usr/assets/images/character/012.혜진/Full_default.png" alt="">
							</div>
							<div th:if="${item.characterSeq=='13'}">
								<img src="usr/assets/images/character/013.쇼우/Full_df.png" alt="">
							</div> -->


					</div>
				</div>
			</div>
		</div>


		<!-- Content
================================================== -->

		


		<div class="container">
			<div class="row">

				<!-- Property Description -->
				<div class="col-lg-12 col-md-7">
					<div class="property-description">

						<!-- Main Features -->
						<ul class="property-main-features">
							<li>시작 hp <span th:text="${item.characterHp}">555 아이콘 찾아보고 갠찬은거있음 넣음</span></li>
							<li>시작 mp <span th:text="${item.characterMp}">555</span></li>
							<li>시작 공격력 <span th:text="${item.characterAtk}">55</span></li>
							<li>시작 방어력 <span th:text="${item.characterDef}">55</span></li>
						</ul>


						<!-- Description -->
						<h3 class="desc-headline">캐릭터 상세설명 (스토리일화)</h3>
							<p th:text="${item.characterDept}"></p>


						<!-- Video -->
						<h3 class="desc-headline no-border">티저영상</h3>
						<div class="responsive-iframe">
							<iframe width="560" height="315"
								src="https://www.youtube-nocookie.com/embed/UPBJKppEXoQ?rel=0&amp;showinfo=0"
								th:src="${item.characterVideoPath}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<!-- Property Description / End -->


				<!-- Sidebar -->

			</div>
			<!-- Sidebar / End -->
		</div>
	</div>


	<!-- Footer
================================================== -->
	<div class="margin-top-55"></div>
		<div th:replace="~{include/usrFooter :: usrFooter}"></div>


	</div>
	<!-- Wrapper / End -->

	<div th:replace="~{include/commonjs :: commonUsrJs}"></div>


</body>

</html>