<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    
   
    <title>포트폴리오 | index</title>
    <!-- font icons -->
    <link rel="stylesheet" href="index/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="index/css/meyawo.css">
    
	
   

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">



    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Hansol Lee</span>
            </h1>
            <p class="header-subtitle">FullStack WEB Developer</p>

        </div>
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center" style="padding-left: 200px;">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    
                    <div> 이한솔</div> 
                    <div> 1996.08.25</div> 
                    <div> lhansol1996@gmail.com </div> 
                    <div> GitHub 주소 :<a href="https://github.com/lhansol1996"> https://github.com/lhansol1996</a></div> 
                    <div> Notion 주소 : <a href="https://www.notion.so/50c0e7618b4440928fcf712b6c07c5f8" alt="">https://www.notion.so/50c0e7618b4440928fcf712b6c07c5f8</a></div> 
                    
                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/pencil-case.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Os,Cloud,CI/CD</h6>
                            <p>OS : Windows, Linux (CentOS: AWS EC2)<br>
                                Cloud : AWS (RDS, EC2, S3, CodeDeploy)<br>
                                CI/CD : Github actions을 이용한 자동화
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/responsive.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">DataBase</h6>
                            <p>MySQL Workbench을 사용하여 총 5회 모델링 훈련 진행<br><br>
                                DataBase : Oracle (localhost), MySQL (localhost, AWS RDS)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/toolbox.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">Language, FrameWork</h6>
                            <p>
                                Front : Html, CSS, Bootstrap, JavaScript, jQuery<br>
                                Back : Java, Python<br>
                                FrameWork : Spring boot (Spring Security, MyBatis, Thymeleaf, JSTL)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="service-card">
                        <div class="body">
                            <img src="index/imgs/analytics.svg"
                                alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page"
                                class="icon">
                            <h6 class="title">APIs , IDE </h6>
                            <p>카카오 로그인,이터널리턴 APIs<br><br>
                                IDE : Eclipse, Spring Tool Suite 4, Visual Studio Code 
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Personal Portfolio 2024.03 ~ 2024.04</h6>
            <h3>이터널 리턴 API를 활용한 게임 전적 검색 사이트</h3>
            <!-- row -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <a href="#" th:href="@{/userIndex}" class="portfolio-card">
                        <img src="index/imgs/free-icon-user.png" class="portfolio-card-img img-responsive rounded"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">User Page</h5>
                                    <p class="font-weight-normal black-han">전적 검색 사이트</p>
                            </span>
                        </span>
                    </a>
                    <h3>사용자 페이지</h3>
                </div>
                <div class="col-md-6">
                    <a href="#" th:href="@{/adminLoginRegister}"  class="portfolio-card">
                        <img class="img-responsive rounded portfolio-card-img" src="index/imgs/free-icon-admin.png"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">Admin Page</h5>
                                    <p class="font-weight-normal black-han">관리자 화면</p>
                            </span>
                        </span>
                    </a>
                    <h3>관리자 페이지</h3>
                </div>
            </div><!-- end of row -->

            
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- portfolio section2 -->
    <section class="section" id="portfolio2">
        <div class="container text-center">
            <p class="section-subtitle"></p>
            <h6 class="section-title mb-6">Team Portfolio (1/2) 2024.04 ~ 2024.05</h6>
            <h3>출고,입고,발주,주문에 관한 간단한 물류관리</h3>
            <!-- row -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <a href="http://43.203.212.207:8089/XdmLogin" class="portfolio-card">
                        <img src="index/imgs/folio-1.jpg" class="portfolio-card-img img-responsive rounded"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4 class="black-han sans-regular">물류관리</h5>
                                    <p class="font-weight-normal black-han">관리자 화면</p>
                            </span>
                        </span>
                    </a>
                </div>
                
            </div><!-- end of row -->

        
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Copyright
                <script>document.write(new Date().getFullYear())</script> &copy;
                LeeHansol
            </p>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="index/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="index/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="index/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="index/js/meyawo.js"></script>

<script>
    let aLink = document.querySelectorAll('a');
        aLink.forEach((item) => {
        item.target = "_blank";
    });
</script>

</body>

</html>